@import "tailwindcss";
body{
  background:var(--main-bg-color);

  /* position: relative; */
}
:root{
  --main-bg-color:#08BDBA
}
.hire{
 
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
  
  
}


@media (min-width:1440px) {
  .blob{
    position:absolute;
    top: -40%;
  }
  .button{
position: relative;
top: 420px;
  }
  .proj{
height: auto;

 
  }
  .projects{
    display: flex;
  }
  
}

@media (min-width:1300px) {
  .projects{
    display: flex;
  }
  .proj{position: relative;
    transform: translateY(70%);
    
     
      }
  .blob{
    position:absolute;
    top:-40% ;
  }
  .button{
    width: 200px;
    transform: translateX(-45%);
  }
  .pic{
    position: absolute;
  }
  .title1{
    font-size: 50px;
  }
  .title2{
    font-size: 40px;
  }
  .project3{
 
  
  }
  .social{
    transform: translateY(15%);
  }
  
}
@media (width:1024px) and (height:600px) {
  .proj{
 transform: translateY(85%);
    
  }
  
}

@media (min-width:1280px) {
  .projects{
    display: flex;
  }
 
  .proj{position: relative;
    transform: translateY(60%);
    
     
      }
  .blob{
    position:absolute;
    top: -40%;
    
  }
  .pic{
    position: absolute;
    left:80%;
  }
  .title1{
    font-size:50px;
  }
  .title2{
    font-size: 40px;
  }

  .social{
   
 position: absolute;
 top: 83%;
 left: 40%;
  }
 
  
}
@media (width:1024px)  {
  .project4{
    position: relative;
    left: -100%;
    top: 250px;
  }
  
  .proj{
   position: relative;
   left: 10%;
   height: 500px;
   
   
  
  }
  .projects{
    display: flex;
  }
 .social{
  position: relative;
  top: 300px;
  left: 400px;
 }

  .button{
    width: 150px;
 display: flex;
 justify-content: center;
  position: relative;
  left: 10%;
  top: 220px;
  }
}
@media (min-width:3000px) and (max-width:6000px) {
  .box{
    position: relative;
    top: 200px;
    left: -25%;
  }
  .pic{
    width: 800px;
    height: 800px;
  }
  .logo{
    font-size: 100px;
  }
  .logo2{
    font-size: 80px;
  }
  .div{
    position: relative;
    right:70% ;
  }
  .menu{
    font-size: 100px;
    margin-left: 80px;
  }
  .menu1{
    position: relative;
    left: 100%;
    
 
  }
  .title1{
    font-size: 150px;
  }
  .title2{
    font-size: 100px;
  }
  .button{
    position: relative;
    top: 1000px;
    left: 800px;
    width:20%;
    height: 200px;
    
  }
  .social{
    
    position: relative;
    top: 1200px;
  }
  .text{
    font-size: 80px;
  }
  .home{
    height:2000px ;
    width: 270%;
    margin: auto;

}
.skilltitle{
  font-size: 150px;
  transform: translateX(50%);
}
.skills{
  height:auto;
    width: 270%;
    margin: auto;
    transform: translateY(150px);
    

}
.projtiltle{
  position: relative;
  top: 100px;
left: 120%;
  font-size: 150px;

}
.projects{
  transform: translateY(100%);
}
.projtext{
  font-size: 50px;
  font-weight: bold;
}
.proj{
  height:2000px ;
    width: 270%;
    margin: auto;
    position: relative;
    top: -900px;
}
.icon{
  width: 200px;
  height: 200px;
}
.square{
  width: 400px;
  height: 400px;
}
  
}

body{
  overflow-x:hidden
}
